@model List<Order>
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-6">
    <section class="panel">
        <header class="panel-heading">
            @ViewBag.Title
        </header>
        <form method="post" action="/Admin/OrderDetail/Add">
            <div class="form-group">
                <label>Birim Fiyat</label>
                <input type="text" class="form-control" name="UnitPrice" placeholder="Birim fiyatını giriniz." />
            </div>
            <div class="form-group">
                <label>Mikar</label>
                <input type="text" class="form-control" name="Quantity" placeholder="Açıklama girin." />
            </div>
            <div class="form-group">
                <label>Siparis Seçin</label>
                <select class="form-control" name="ID">
                    @foreach (var item in Model)
                    {
                        <option value="@item.ID">@item.ID</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-info">Gönder</button>
        </form>
    </section>
</div>
