<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>2019 - @DateTime.Now.Year &copy; Fatih Hoca Ve Tayfası.</span>
        </div>
    </div>
</footer>