<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/Content/adminTheme/img/favicon.png">
    <title>Horizontal Menu</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/adminTheme/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/adminTheme/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/adminTheme/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!--<link href="~/Content/adminTheme/css/navbar-fixed-top.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <link href="~/Content/adminTheme/css/style.css" rel="stylesheet">
    <link href="~/Content/adminTheme/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/adminTheme/assets/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="~/Content/adminTheme/js/html5shiv.js"></script>
      <script src="~/Content/adminTheme/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="full-width">
    <section id="container" class="">
        <!--header start-->
        <header class="header white-bg">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--logo start-->
                <a href="~/Content/adminTheme/index.html" class="logo">Flat<span>lab</span></a>
                <!--logo end-->
                <div class="horizontal-menu navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="~/Content/adminTheme/index.html">Dashboard</a></li>
                        <li class="active"><a href="~/Content/adminTheme/#">Components</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="~/Content/adminTheme/#">UI Element <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Content/adminTheme/general.html">General</a></li>
                                <li><a href="~/Content/adminTheme/buttons.html">Buttons</a></li>
                                <li><a href="~/Content/adminTheme/widget.html">Widget</a></li>
                                <li><a href="~/Content/adminTheme/slider.html">Slider</a></li>
                                <li><a href="~/Content/adminTheme/nestable.html">Nestable</a></li>
                                <li><a href="~/Content/adminTheme/font_awesome.html">Font Awesome</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Content/adminTheme/basic_table.html">Tables</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="~/Content/adminTheme/#">Extra <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Content/adminTheme/blank.html">Blank Page</a></li>
                                <li><a href="~/Content/adminTheme/boxed_page.html">Boxed Page</a></li>
                                <li><a href="~/Content/adminTheme/profile.html">Profile</a></li>
                                <li><a href="~/Content/adminTheme/invoice.html">Invoice</a></li>
                                <li><a href="~/Content/adminTheme/search_result.html">Search Result</a></li>
                                <li><a href="~/Content/adminTheme/404.html">404 Error Page</a></li>
                                <li><a href="~/Content/adminTheme/500.html">500 Error Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="top-nav ">
                    <ul class="nav pull-right top-menu">
                        <li>
                            <input type="text" class="form-control search" placeholder=" Search">
                        </li>
                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="~/Content/adminTheme/#">
                                <img alt="" src="~/Content/adminTheme/img/avatar1_small.jpg">
                                <span class="username">Jhon Doue</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li><a href="~/Content/adminTheme/#"><i class=" icon-suitcase"></i>Profile</a></li>
                                <li><a href="~/Content/adminTheme/#"><i class="icon-cog"></i> Settings</a></li>
                                <li><a href="~/Content/adminTheme/#"><i class="icon-bell-alt"></i> Notification</a></li>
                                <li><a href="~/Content/adminTheme/login.html"><i class="icon-key"></i> Log Out</a></li>
                            </ul>
                        </li>
                        <!-- user login dropdown end -->
                    </ul>
                </div>
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
              @RenderBody()
            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2013 &copy; FlatLab by VectorLab.
                <a href="~/Content/adminTheme/#" class="go-top">
                    <i class="icon-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/adminTheme/js/jquery.js"></script>
    <script src="~/Content/adminTheme/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/adminTheme/js/jquery.dcjqaccordion.2.7.js"></script>
    <script type="text/javascript" src="~/Content/adminTheme/js/hover-dropdown.js"></script>
    <script src="~/Content/adminTheme/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/adminTheme/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Content/adminTheme/js/respond.min.js"></script>
    <!--common script for all pages-->
    <script src="~/Content/adminTheme/js/common-scripts.js"></script>
    @RenderSection("scripts",false)
</body>
</html>
