@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Row -->
<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card-body">
            <div class="d-sm-flex align-items-center m-lg-auto">

                @if (Model != null)
                {

                    foreach (var item in Model)
                    {
                <div class="card shadow mb-2">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample-@item.ProductName" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">@item.ProductName</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample-@item.ProductName">
                        <div class="card-body">
                            <img class="img-lm-mycss"
                                 src="@item.ImagePath">

                            <br />
                        </div>
                    </div>
                </div>
                <div>
                    <br />
                </div>
            }

}
                else
                {
                <div class="card shadow mb-2">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample-error" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Bir Hata Beydana Geldi</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample-error">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
                <div>
                    <br />
                </div>
                }

            </div>
        </div>

    </div>
</div>